html {
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;    
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/*
-------------------------------------------
coming-soon page design
-------------------------------------------
*/

#coming-soon-page-container {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.element-alignment {
    text-align: center;
}

#message-bubble-container {
    border: 1px solid rgb(204, 221, 224);
    border-radius: 30px;
    padding: 5px 15px;
    margin-bottom: 25px;
    background-color: rgba(219, 231, 234, 0.314);
}

#main-message-container {
    margin-bottom: 25px;
}

#secondary-message-container {
    margin-bottom: 15px;
    color: rgb(69, 69, 69);
    font-weight: 100;
}

#support-info-container {
    color: rgb(108, 108, 108);
    font-weight: 100;
}

#support-info-container h4 {
    margin-bottom: 5px;
}

#support-info-container a {
    color: rgb(0, 150, 177);
    text-decoration: none;
}

@media (min-width: 374px) and (orientation: portrait) {
    #message-bubble-container p {
        font-size: 30px;
    }
    
    #main-message-container h1 {
        font-size: 55px;
    }

    #secondary-message-container {
        width: 90%;
     }

    #secondary-message-container h3 {
       font-size: 30px;
    }
    
    #support-info-container h4 {
        font-size: 25px;
    }
    
    #support-info-container a {
        font-size: 25px;
    }
}

/* ------------------------------------------- */

