a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#menu-bar-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
}

#menu-bar-item a:hover {
    text-decoration: underline;
}